h1 {
   color:#ffffff;  
}


.container {
  height:500px;
  width:400px;	
  padding:10px;
  background-color:#c270c2;
  text-align:center;
}

.sale-text {
  height:180px;
  width:310px;
  background-color:#f0dceb;
  margin:0 auto;
}

.price {
  color:#ff0000;  
}
