h1 {
   color:#ffffff;  
}


.container {
  height:1000px;
  width:800px;	
  padding:10px;
  background-color:#c270c2;
  text-align:center;
}

.sale-text {
  height:360px;
  width:620px;
  background-color:#f0dceb;
  margin:0 auto;
}

.price {
  color:#ff0000;  
}
