h1 {
   color:#ffffff;  
   font-size:48px;
}


.container {
  height:1000px;
  width:800px;	
  padding:10px;
  background-color:#c270c2;
  text-align:center;
   margin:0 auto;
}

.sale-text {
  height:360px;
  width:620px;
  background-color:#f0dceb;
  margin:0 auto;
}

.sale-text p {
   font-size:36px;
}

.price {
  color:#ff0000;  
  font-size:40px; 
}


